@import './node_modules/nord/src/sass/nord.scss';

$color: $nord0;
$light-color: $nord3;

$accent: $nord10; // 7.29

$page-margin: 0.75in;

$grid-gap: 0.25in;

* {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}

@media screen {
    [wip] {
        background-color: rgba(blue, 0.2);
    }

    [wip="reword"] {
        background: none;
        text-decoration: underline red;
    }
}

.page {
    position: relative;
    padding: $page-margin;

    page-break-before: always;

    width: calc(100% + 16px);

    &:first-of-type {
        margin: -8px;
        height: 11.427in;
    }

    @media screen {
        box-shadow: 0 0 5px 5px rgba(black, 0.2);
        overflow: hidden;

        margin: 15px !important;
        width: 8.5in;
        height: 11in;
    }

    // background-color: pink;

    // &:first-of-type {
    //     background-color: plum;
    // }
}

body {

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 11 * (1in / 72);
    color: $color;
    --accent: #{$accent};
}

.experience {
    // columns: 2;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 130px auto;
    grid-gap: $grid-gap;
    grid-template-areas:
        "header header"
        "extra body";

    header {
        grid-area: header;
    }

    .extra {
        grid-area: extra;
    }

    .work-experience {
        grid-area: body;
    }
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

h1,
h3,
h4 {
    margin: 0;
}

h3 {
    color: var(--accent);
    margin-top: 1em;
}

h4 {
    color: $light-color;
    font-weight: bold;
}

.subtitle {
    color: var(--accent);
    font-weight: 400;
}

header {
    position: relative;
    column-span: all;

    // margin-bottom: 1em;

    &::after {
        position: absolute;
        content: ' ';
        display: block;
        top: -$page-margin;
        bottom: 0;
        z-index: -1;

        width: 9in;
        left: 50%;
        transform: translateX(-50%);

        border-bottom: solid var(--accent) 2px;

        $hex-size: 1in;
        background-size: #{$hex-size * 2 * 30/36} #{$hex-size * 2};
        background-image: url(../hex.svg);
    }


    p {
        width: 70%;
    }

    address {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        text-align: right;
        margin-bottom: 1em;

        a {

            i {
                display: inline-block;
                width: 1em;
                text-align: center;
                color: $light-color;
            }
        }
    }

}

footer {
    position: fixed;
    bottom: $page-margin;
    left: $page-margin;
    column-span: all;

    color: $light-color;

    @media screen {
        position: absolute;
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: var(--accent);
        text-decoration: underline;
    }
}

section {
    margin-bottom: 1em;
    // page-break-inside: avoid;
}

.extra {
    margin-top: -$grid-gap;
    padding-top: $grid-gap;

    margin-left: -$page-margin * 2;
    padding-left: $page-margin * 2;

    margin-bottom: -$page-margin;
    padding-bottom: $page-margin;

    margin-right: -$grid-gap / 2;
    padding-right: $grid-gap / 2;

    background-color: $nord0;
    color: $nord6;

    --accent: #{$nord8};
    // --accent: red;
}

ul {
    $distance: 0.75em;

    list-style: none;
    padding-left: $distance;
    margin: 0;

    li::before {
        content: "\2022";
        color: var(--accent);
        font-weight: bold;
        display: inline-block;
        width: $distance;
        margin-left: -$distance;
    }
}

ul.comma {
    padding-left: 0;

    li {
        display: inline;

        &::before {
            display: none;
        }

        &:not(:last-child)::after {
            display: inline;
            content: " | ";
            color: var(--accent);
        }
    }
}